@import "tailwindcss";

@theme {
  --color-gold-50: #fbf8eb;
  --color-gold-100: #f5eed1;
  --color-gold-200: #ecdda3;
  --color-gold-300: #e2c66d;
  --color-gold-400: #e8c56c;
  --color-gold-500: #dcb347;
  --color-gold-600: #c99e2a;
  --color-gold-700: #a9801c;
  --color-gold-800: #886515;
  --color-gold-900: #65361a;
  --color-gold-950: #3a1c0d;
}
